@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&family=Poppins:wght@300;500&display=swap');

.cours-bulle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 375px;

}

.cours-bulle img{
    width:400px;
}

.cours-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    min-width: 375px;
    
}

.cours-colonne1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 600px;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    font-family: Poppins;
    min-width: 375px;
}

h2 {
    font-size: 18px;
}

h3{
    font-size: 18px; 
}

.cours-illustration{
    margin-top: 50px;
}

.cours-illustration img{
    width: 650px;
    height: 400px;
}

button{
    border-radius: 50px;
    background-color: #7f9fd2;;
    color: #87cea5; 
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    border-radius: 1px 30px 1px 30px;
    padding: 0 15px;
    width: 100%;
    cursor: pointer;
    background-image: none!important;
}

button:hover{
    background-color: black;
    color: white;
}

.titre-partenaires{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    font-size: 24px;

}
.cours-partenaires{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cours-aide{
    margin-bottom: 5px;
    position: relative;
    bottom: 10px;
    left: 10px;
}

.cours-aide:hover{
    background-color: black;
    color: white;
}


footer{
    display: flex;
    justify-content:space-between; 
    color: #87cea5;;
    font-size: 40px;
    gap: 10px;
    align-items: baseline;
    margin-bottom: 5px;
    margin-top:20px ;
    background-color:#7f9fd2;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cours-reseaux {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    cursor: pointer;
    border-radius: 20px;
}

.linkedin{
   margin-right: 20px; 
   cursor: pointer;
   padding: 10px;
}

.linkedin:hover {
    background-color: black;
    color: white;
}
   
.instagram{
    margin-right: 20px; 
    cursor: pointer;
}

.instagram:hover {
    background-color: black;
    color: white;
}
   

.facebook{
    margin-right: 20px; 
    cursor: pointer;     
} 

.facebook:hover {
    background-color: black;
    color: white;
}

@media (max-width:375px) {
    .cours-container{
        margin: auto;
    }
    .cours-illustration img{
        width: 350px;
    }
    .cours-colonne1{
        padding: 50px;
    }
    button{
        width: 70%;
    }

    .cours-bulle img{
        width: 350px;
}
}