/******************COULEUR******************************/
$colorBeigt: #ffdeac;
$colorYellow: #ffe900;
$colorVert: #daf189;
$colorBleuVert: #8aefca;
$colorRose: #ffaae9;
$colorBleu: #2089ef;

$colorText: white;
$colorDetail: white;

$color-degrade: linear-gradient(
  142deg,
  rgba(255, 170, 233, 0.9920343137254902) 37%,
  rgba(255, 233, 0, 1) 100%
);

/*************TAILLE**************************************/
$font-size-nav: 1.3rem;
$width-logo: 250px;

/*************BORDER-RADUIS***************************************/
$border-btn: none;
$search-radius: 39px;

/*********scss jeux***********/
$border-li: 46px;
$border-p-jeu: 40px;

/********************* HEADER ******************************/

.main {
  margin: 0 14%;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: $width-logo;
}

.search {
  display: flex;
  align-items: center;

  .input-search {
    outline: none;
    position: relative;
    left: 50px;
    z-index: -1;
    box-shadow: 0px 0px 7px 2px #e0d8d8;
    border: $border-btn;
    border-radius: 39px;
    font-size: 1.3rem;
    padding: 19px 0 19px 20px;
    // width: 5px;
    animation: 2s ease-in 1s 2 reverse both paused;

    &:hover {
      width: 100%;
    }
  }
}

.icon-loupe {
  font-size: 1.4rem;
  padding: 15px;
  border-radius: 29px;
  background-image: linear-gradient(to right, $colorRose, $colorVert);
  color: $colorBleu;
}

button {
  background-image: linear-gradient(to left, $colorRose, $colorVert);
  color: $colorDetail;
  padding: 9px;
  font-weight: bold;
  border: none;
  border-radius: 40px;
  font-size: 1.2rem;
}

.navbar {
  background-color: $colorBleu;
  // margin-top: 53px;
  height: 95px;
  padding-top: 21px;

  .navbar-ul {
    display: flex;
    padding: 5px;
    justify-content: space-around;

    .navbar-li {
      padding: 10px;
      font-size: $font-size-nav;

      .navbar-link {
        color: $colorText;
        &:hover {
          text-decoration: underline $colorYellow;
        }
      }
    }
  }
}

.search {
  display: flex;
  align-items: center;

  .navbar-btn {
    box-shadow: 0px 0px 7px 2px #e0d8d8;
    border-radius: $search-radius;
    display: flex;
    align-items: center;

    .input-search {
      border: 1px solid rgb(0, 0, 0);
      border: $border-btn;
      font-size: 1.3rem;
      padding: 5px;
    }

    .icon-loupe {
      font-size: 1.4rem;
      padding: 9px 17px 8px 15px;
      border-radius: 15px;
      background-image: linear-gradient(to right, #083e66, white);
      color: $colorDetail;
    }

    button {
      background-image: linear-gradient(to left, #083e66, white);
      color: $colorDetail;
      padding: 9px;
      font-weight: bold;
      border: none;
      border-radius: 0px 15px 15px 0px;
      font-size: 1.2rem;
    }
  }
}

.container-card {
  margin: auto;
  .titre {
    text-align: center;
    margin: 61px;
  }

  .cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 56px 56px;
    width: 76%;
    margin: auto;

    .card {
      border: 1px solid black;
      border-radius: $border-li;
      width: 300px;
      height: 200px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: center;
      &:hover {
        -webkit-box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, 0.45);
        box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, 0.45);
      }

      .matieres {
        background-color: #73a5ca;
        height: 185px;
        width: 281px;
        text-align: center;
        border-radius: $border-p-jeu;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
      }
    }
  }
}

.intro {
  text-align: center;
  font-size: 1.3rem;
  margin: 8% 0;
}
