* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

/******************COULEUR******************************/
$colorViolet: #674ea7;
$colorYellow: #ffe900;
$colorVert: #086618;

$colorText: white;
$colorDetail: white;

$color-degrade: 227deg, rgba(8, 102, 24, 0.7945553221288515) 29%,
  rgba(103, 78, 167, 0.8365721288515406) 55%,
  rgba(255, 233, 0, 0.7049194677871149) 79%;

/*************TAILLE**************************************/
$font-size-nav: 1.3rem;
$width-logo: 250px;

/*************BORDER-RADUIS***************************************/
$border-btn: none;
$search-radius: 39px;

/********************* HEADER ******************************/
.main {
  margin: 0 14%;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: $width-logo;
}

.search {
  display: flex;
  align-items: center;

  .input-search {
    outline: none;
    box-shadow: 0px 0px 7px 2px #e0d8d8;
    border: $border-btn;
    border-radius: 39px;
    font-size: 1.3rem;
    padding: 19px 0 19px 20px;
    width: 5px;
    animation: 2s ease-in 1s 2 reverse both paused;

    &:hover {
      width: 100%;
    }
  }
}

.icon-loupe {
  font-size: 1.4rem;
  padding: 15px;
  border-radius: 29px;
  background-image: linear-gradient(to right, #083e66, white);
  color: $colorDetail;
}

button {
  background-image: linear-gradient(to left, #083e66, white);
  color: $colorDetail;
  padding: 9px;
  font-weight: bold;
  border: none;
  border-radius: 40px;
  font-size: 1.2rem;
}

.navbar {
  background-color: $colorViolet;

  .navbar-ul {
    display: flex;
    padding: 5px;
    justify-content: space-around;

    .navbar-li {
      padding: 10px;
      font-size: $font-size-nav;

      .navbar-link {
        color: $colorText;
        &:hover {
          text-decoration: underline $colorYellow;
        }
      }
    }
  }
}

.container-calcul {
  .calcul-ul {
    display: flex;
    gap: 20px;
    margin-top: 50px;

    .calcul-li {
      border: 1px solid black;
      width: 450px;
      height: 320px;
      .jeu {
        width: 442px;
        height: 252px;
        background-color: #4083b6;
      }
      .calcul-img {
        width: 100%;
      }
      .text-calcul {
        text-align: center;
      }
    }
  }
}
