/******************COULEUR******************************/
$colorBeigt: #ffdeac;
$colorYellow: #ffe900;
$colorVert: #daf189;
$colorBleuVert: #8aefca;
$colorRose: #ffaae9;
$colorBleu: #2089ef;

$colorText: white;
$colorDetail: white;

$color-degrade: linear-gradient(
  142deg,
  rgba(255, 170, 233, 0.9920343137254902) 37%,
  rgba(255, 233, 0, 1) 100%
);

/*************TAILLE**************************************/
$font-size-nav: 1.3rem;
$width-logo: 250px;

/*************BORDER-RADUIS***************************************/
$border-btn: none;
$search-radius: 39px;

/*********scss jeux***********/
$border-li: 46px;
$border-p-jeu: 40px;

/********************* HEADER ******************************/

.main {
  margin: 0 14%;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: $width-logo;
}

.search {
  display: flex;
  align-items: center;

  .input-search {
    outline: none;
    position: relative;
    left: 50px;
    z-index: -1;
    box-shadow: 0px 0px 7px 2px #e0d8d8;
    border: $border-btn;
    border-radius: 39px;
    font-size: 1.3rem;
    padding: 19px 0 19px 20px;
    animation: 2s ease-in 1s 2 reverse both paused;

    &:hover {
      width: 100%;
    }
  }
}

.icon-loupe {
  font-size: 1.4rem;
  padding: 15px;
  border-radius: 29px;
  background-image: linear-gradient(to right, $colorRose, $colorVert);
  color: $colorBleu;
}

.btn {
  background-image: linear-gradient(to left, $colorRose, $colorVert);
  color: $colorDetail;
  padding: 9px;
  font-weight: bold;
  border: none;
  border-radius: 40px;
  font-size: 1.2rem;
}

.nav {
  text-align: center;
}

.navbar-li {
  list-style-type: none;
}

.navbar-link {
  color: black;
}

.menu {
  display: inline-block;
}

.menu > li {
  float: left;
  color: $colorText;
  width: 146px;
  height: 85px;
  line-height: 85px;
  background: $colorBleu;
  cursor: pointer;
  font-size: 1.5rem;
  list-style-type: none;
}

.sub-menu {
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
}

.sub-menu li {
  font-size: 14px;
  background: $colorBleuVert;
  padding: 8px 0;
  color: black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
  list-style-type: none;
}

.sub-menu li a {
  text-decoration: none;
  color: black;
}

.sub-menu li:last-child {
  border-bottom: 0;
}

.sub-menu li:hover {
  background: $colorVert;
}

.menu > li:hover .sub-menu li {
  transform: scale(1);
}

.menu > li:hover .sub-menu {
  transform: scale(1);
}

.sub-link {
  color: black;
  text-decoration: none;
}

.details:hover {
  color: $colorBeigt;
}

.items-icons {
  color: $colorDetail;
  font-size: 1.7rem;
}

.container-card {
  margin: auto;
  .titre {
    text-align: center;
    margin: 61px;
  }

  .cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 56px 56px;
    width: 76%;
    margin: auto;

    .card {
      border: 1px solid black;
      border-radius: $border-li;
      width: 300px;
      height: 200px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: center;
      list-style-type: none;
      &:hover {
        -webkit-box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, 0.45);
        box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, 0.45);
      }

      .jeuxNav {
        text-decoration: none;
        color: black;
      }

      .matieres {
        background-color: #73a5ca;
        height: 185px;
        width: 281px;
        text-align: center;
        border-radius: $border-p-jeu;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
      }
    }
  }
}

.intro {
  text-align: center;
  font-size: 1.3rem;
  margin: 8% 0;
}

/*******************MEDIA QUERY MOBILE*****************************/
@media screen and (max-width: 375px) {
  .logo {
    margin: auto;
  }

  .search {
    margin-top: 39px;
    .input-search {
      left: 6px;
    }
  }
  .btn {
    right: 61px;
    position: relative;
  }

  .menu > li {
    float: none;
  }
}

.menu {
  margin-top: 39px;
}
/******************************************************************/
